RapidRanged(
    energy_cost: 4,
    buildup_duration: 0.8,
    shoot_duration: 0.05,
    recover_duration: 0.1,
    options: (
        max_projectiles: Some(5),
        fire_all: true,
    ),
    projectile: (
        kind: Simple,
        attack: Some((
            damage: 10.5,
            buff: Some((
                kind: Bleeding,
                dur_secs: 10,
                strength: DamageFraction(0.1),
                chance: 0.1,
            )),
            without_combo: true,
            damage_kind: Piercing,
        )),
    ),
    projectile_body: Object(Arrow),
    projectile_speed: 120.0,
)
